@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --dark-gray-blue: hsl(217, 19%, 35%);
  --desaturated-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  /* max-width: 144rem; */
  min-height: 100%;
  padding: 0 2.4rem;
  background: var(--light-gray-blue);
  font-family: "Manrope", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  /* color: var(--desaturated-blue); */
}

article {
  border-radius: 1.5rem;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  article {
    width: 32.7rem;
  }
}
@media screen and (min-width: 768px) {
  article {
    display: flex;
    max-width: 73rem;
    height: 27.7rem;
  }
}

/* figure {
  height: 20rem;
} */

/* figure img {
  width: 100%;
  height: 100%;
  display: block; */

/* object-fit: cover; */
/* align-self: stretch; */
/* } */

figure {
  background: url(/images/drawers.jpg);
  width: 100%;
  background-size: cover;
}

.copy {
  /* padding: 4.2rem 3.2rem 2rem; */
  /* padding: 3.5rem 3.2rem 2rem; */
  background: #ffff;
  padding-top: 4.2rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-bottom: 2.2rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom: 1.3rem;
  letter-spacing: 0.3px;
  color: var(--dark-gray-blue);
}

.copy p {
  font-size: 1.2rem;
  letter-spacing: 0.7px;
  line-height: 1.6;
  /* padding-bottom: 2.7rem; */
  /* padding-bottom: 2rem; */
  color: var(--desaturated-blue);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #ffff;
  padding-top: 1rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-bottom: 2rem;
  /* background: lightblue; */
}

.author {
  display: flex;
}

.author img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.about {
  padding-left: 1.5rem;
  align-self: center;
  font-size: 1.1rem;
}

h3 {
  color: var(--dark-gray-blue);
}

time {
  color: var(--gray-blue);
  font-size: 1.2rem;
}

.arrow {
  background: var(--light-gray-blue);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.arrow:hover {
  z-index: 10;
  margin-top: 0.5rem;
  background: var(--gray-blue);
} */

.share {
  display: flex;
  align-items: center;
  position: absolute;
  width: inherit;
  background: var(--dark-gray-blue);
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.share p {
  text-transform: uppercase;
  color: var(--gray-blue);
  font-size: 1.2rem;
  letter-spacing: 5px;
  padding-right: 2rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  padding-right: 1.5rem;
}

@media screen and (max-width: 767px) {
  figure {
    height: 20rem;
  }
}

@media screen and (min-width: 768px) {
  figure {
    flex: 1;
  }

  section {
    flex: 1.6;
  }

  .copy {
    padding-left: 4.5rem;
    padding-top: 3.2rem;
  }

  h2 {
    font-size: 2rem;
    line-height: inherit;
  }

  footer {
    padding-left: 4.5rem;
    padding-top: 0;
    padding-bottom: 3.2rem;
  }

  .arrow {
    margin-right: 0.7rem;
  }

  h3 {
    padding-bottom: 0.3rem;
  }
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
